.cardHeading {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem; }

.card {
  background-color: white;
  color: #8a8a8a;
  margin-bottom: 1rem;
  text-align: center; }

.card__body {
  padding: 2rem;
  text-align: left;
  z-index: 10; }

.card__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 2rem; }

@media screen and (min-width: 60em) {
  .card {
    color: white;
    margin-bottom: 4rem;
    position: relative;
    background-color: transparent; }
  .card__body {
    text-align: left;
    position: absolute;
    top: 0;
    left: 1rem;
    width: 50%;
    background: rgba(255, 255, 255, 0.95);
    color: black;
    padding: 2rem 4rem;
    box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.25); }
  .cardImage {
    margin-bottom: 1rem;
    width: 100%; }
  .cardImage:first-child {
    margin-top: 10rem; }
  .embedded .spacer {
    padding-top: 10rem; } }

.card__body a,
.card__body a:visited {
  color: #3aa2e9;
  text-decoration: underline; }

.card__body a:hover,
.card__body a:visited:hover {
  color: #83c3de; }

.card__photo {
  margin: 0 0 1rem 0; }

.card__photo:last-child {
  margin: 0; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 0 0 1rem 0; }
